<ion-header>
  <ion-toolbar>
    <ion-title>Ma fiche</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ficheForm" (ngSubmit)="sendForm()">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" formControlName="name" value="{{ fiche.name }}" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description" value="{{ fiche.description }}" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero de rue</ion-label>
      <ion-input type="number" inputmode="number" formControlName="numeroDeRue" value="{{ fiche.address.numeroDeRue }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rue</ion-label>
      <ion-input type="text" formControlName="adresse" value="{{ fiche.address.adresse }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ville</ion-label>
      <ion-input type="text" formControlName="ville" value="{{ fiche.address.ville }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Code postal</ion-label>
      <ion-input type="number" inputmode="number" formControlName="codePostal" value="{{ fiche.address.codePostal }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Téléphone</ion-label>
      <ion-input type="tel" inputmode="tel" formControlName="phoneNumber" value="{{ fiche.user.phoneNumber }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mail</ion-label>
      <ion-input type="email" inputmode="email" formControlName="email" value="{{ fiche.user.mail }}"></ion-input>
    </ion-item>
    <br>
    <ion-button
      color="primary"
      expand="block" type="submit" [disabled]="!ficheForm.valid">Enregistrer
    </ion-button>
  </form>
</ion-content>
