<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <form [formGroup]="connexionForm" (ngSubmit)="submitForm()">
    <ion-input type="number" placeholder="n° tel" formControlName="phoneNumber"></ion-input>
    <ion-button type="submit">connexion</ion-button>
  </form>
  <ion-button type="button" routerLink="/subscription">inscription</ion-button>

</ion-content>
