<ion-app>

  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar class="logo">
        <img routerLink="/" src="assets/Logo-BABA-trans.png" alt="Logo STOCOVID">
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/enterprises">Carte interactive</ion-item>
        <ion-item *ngIf="isLogged" routerLink="/card">Ma fiche</ion-item>
        <div *ngIf="!isLogged" class="l-menu">
          <ion-item routerLink="/login">
            <ion-icon name="log-in"></ion-icon>Se connecter
          </ion-item>
        </div>
        <div *ngIf="!isLogged" class="l-menu">
          <ion-item routerLink="/subscription">
            <ion-icon name="log-in"></ion-icon>S'inscrire
          </ion-item>
        </div>
        <div *ngIf="isLogged" class="l-menu">
          <ion-item (click)="logOut()">
            <ion-icon name="log-out"></ion-icon>Se déconnecter
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
