<ion-header>
  <ion-toolbar>
    <ion-title>Carte interactive</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
    <app-map></app-map>
</ion-content>
