ion-slides {
  --bullet-background: rgb(145, 140, 252);
  --bullet-background-active: rgb(99, 255, 151);
}

.slide-custom{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-title{
  width: 100%;
  background: #6BCAFF;
  color: white;
  top: 0px;
  flex: 1;
}

img{
  flex: 2;
  margin: 50px 0px 50px 0px;
  height: 250px;
  width: 250px;
}

.custom-button{
  background: #6BCAFF;
  border-radius: 50px;
  color: white;
  padding: 15px;
  margin: 20px;
}
