<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <form [formGroup]="subscriptionForm" (ngSubmit)="submitForm()">
    <ion-slides pager="false" class="custom-slides" [options]="slideOpts">

      <!-- Statut -->
      <ion-slide>
        <div class="slide-custom">
          <ion-title class="ion-text-center slide-title">Je déclare mon statut</ion-title>
          <div class="img-container">
            <img src="assets/svg/man-next-to-phone.svg" alt="">
          </div>
          <ion-list>
            <ion-radio-group formControlName="statut">
              <ion-item>
                <ion-label>pharmacie</ion-label>
                <ion-radio value="pharmacie" (ionSelect)="nextSlide()" ></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>professionel</ion-label>
                <ion-radio value="professionel" (ionSelect)="nextSlide()"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>particulier</ion-label>
                <ion-radio value="particulier" (ionSelect)="nextSlide()"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
      </ion-slide>


      <!-- Addresse -->
      <ion-slide>
        <div class="slide-custom">
          <ion-title class="ion-text-center slide-title">J'entre mon addresse</ion-title>
          <div class="img-container">
            <img src="assets/svg/map.svg" alt="">
            <div formGroupName="address">
              <ion-input type="number" placeholder="n°" formControlName="streetNumber" (keypress)="onlyNumberKey($event)"></ion-input>
              <ion-input type="text" placeholder="rue" formControlName="rue"></ion-input>
              <ion-input type="number" placeholder="code postal" formControlName="codePostal" (keypress)="onlyNumberKey($event)"></ion-input>
              <ion-input type="text" placeholder="ville" formControlName="ville"></ion-input>
              <ion-button (click)="nextSlide()" (click)="getFormValues()" [disabled]="!subscriptionForm.valid" type="submit">ok</ion-button>
              <ion-footer class="ion-no-border" *ngIf="!subscriptionForm.valid">
                <ion-toolbar>
                  <ion-title>Merci de remplir tous les champs</ion-title>
                </ion-toolbar>
              </ion-footer>
            </div>
          </div>
        </div>
      </ion-slide>


      <!-- Téléphone portable -->
      <ion-slide>
        <div class="slide-custom">
          <div *ngIf="!subscriptionSuccess" class="slide-custom">
            <ion-title  class="ion-text-center slide-title">Je confirme mon inscription</ion-title>
            <img src="assets/svg/man-composing-number.svg" alt="">

            <span>Entrez votre numéro de téléphone de téléphone portable pour confirmer votre inscription</span>
            <span>le numéro doit être de la forme +33612131415</span>
            <ion-input type="tel" placeholder="n° de téléphone portable" formControlName="mobilePhone"></ion-input>

            <ion-button *ngIf="!smsSent" (click)="sendSmsAuth();" type="submit" >Envoyez-moi un sms de confirmation</ion-button>

            <ion-spinner *ngIf="loading" name="dots"></ion-spinner>

            <span *ngIf="smsSent">Entrez le code de confirmation reçu par sms</span>
            <ion-input *ngIf="smsSent" type="tel" placeholder="code de confirmation"formControlName="confirmationCode"></ion-input>
            <ion-button *ngIf="smsSent" type="submit" (click)='controlPhoneNumber();' >Confirmer mon compte</ion-button>
          </div>

          <span #recaptchaElement id="recaptcha-container"></span>
        </div>
      </ion-slide>

      <!-- isncription validée -->
      <ion-slide>
        <div class="slide-custom">
          <ion-title class="ion-text-center slide-title">Votre inscription est validée !</ion-title>
          <img src="assets/svg/happy-girl.svg" alt="">
        </div>
      </ion-slide>

    </ion-slides>
  </form>

</ion-content>
