nav{
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:  center;
    padding-left: 2vw;;
    padding-right: 2vw;

    .logo{
        width: 50px;;

        img{
            width: 100%;
        }
    }
}
