<nav>
  <div class="logo">
    <img routerLink="/subscription" src="./../../../assets/Logo-BABA-trans.png"  alt="Logo STOCOVID">
  </div>
  <div class="menuButton">
    <ion-icon color="dark" (click)="toggleMenu()" size="large" name="menu"></ion-icon>
  </div>
</nav>
